.musicInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
}

.container {
    display: flex;
    gap: 1.75rem;
}

.containerColumn {
    flex-direction: column;
}

.containerRow {
    flex-direction: row;
}

.containerRow>.cover{
    width: 5rem;
}

.cover {
    width: 100%;
}

.musicInfo>strong {
    font-size: 1.5rem;
    font-weight: bold;
}

.musicInfo>span {
    color: var(--gray-500);
}